* {
  box-sizing: border-box;
}

html {
  font-size: 1.25rem;
  font-family: 'Nunito', sans-serif;
}

.wrapper {
  user-select: none;
  max-width: 50rem;
  width: 60%;
  margin: 2rem auto auto;
  background-color: black;
}

.slider {
  width: 92%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 4%;
}

.image {
  width: 100%;
  margin: 2rem 0 2rem 0;
  border-radius: 0.5rem;
  order: 1;
  animation-duration: 2s;
  animation-name: slide-animate;
  animation-timing-function: ease-out;
}

.label {
  order: 3;
  margin-right: auto;
  max-width: 70%;
  height: 3rem;
  color: white;
  animation-duration: 2s;
  animation-name: text-animate;
  animation-timing-function: ease-in-out;
}

.radio {
  display: inline-flex;
  order: 5;
  -webkit-appearance: none;
  appearance: none;
  background-color: #2762f3;
  box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,0.5), 0 0 0.1em 0.1em rgba(0,0,0,0.25) inset;
  margin: 0 1rem 1rem 0;
  font: inherit;
  width: 1.15rem;
  height: 1.15rem;
  border: 0.09em solid rgb(195, 193, 188);
  border-radius: 50%;
  transform: translateY(-0.075em);
}

.radio:first-of-type {
  margin-left: 0.5rem;
}

.radio:last-of-type {
  margin: 0;
}

.radio:checked {
  background: rgb(183, 214, 42);
}

.radio:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 4px 8px, rgba(0, 0, 0, 0.09) 0px 3px 16px;
}

#selected-slide1:checked  ~ 
  .slide2, 
  .slide3, 
  .slide4 {
    display: none;
}

#selected-slide1:checked  ~ 
  .slide1 {
    display: block;
}

#selected-slide2:checked  ~ 
  .slide1, 
  .slide3, 
  .slide4 {
    display: none;
}

#selected-slide2:checked  ~ 
  .slide2 {
    display: block;
}

#selected-slide3:checked  ~ 
  .slide1, 
  .slide2, 
  .slide4 {
    display: none;
}

#selected-slide3:checked  ~ 
  .slide3 {
    display: block;
}

#selected-slide4:checked  ~ 
  .slide1, 
  .slide2, 
  .slide3 {
    display: none;
}

#selected-slide4:checked  ~ 
  .slide4 {
    display: block;
}

@keyframes slide-animate {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes text-animate {
  0% {
    opacity: 0%;
  }
  50% {
    color: rgb(117, 59, 224);
  }
  100% {
    opacity: 100%;
    color: white;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 1rem;
  }

  .label {
    max-width: 65%;
    height: 4rem;
  }
}

@media screen and (max-width: 780px) {
  html {
    font-size: 0.9rem;
  }

  .wrapper {
    width: 80%;
  }

  .label {
    max-width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .label {
    max-width: 100%;
    width: 100%;
    order: 10;
  }

  .radio:first-of-type {
    margin-left: 0;
  }

  .radio:first-of-type {
    margin-left: auto;
  }

  .radio:last-of-type {
    margin-right: auto;
  }
}