:root {
  --color-radio: rgb(117, 59, 224);
  --color-addition: white;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 1.25rem;
  font-family: 'Nunito', sans-serif;
}

.wrapper {
  user-select: none;
  max-width: 50rem;
  width: 60%;
  margin: 2rem auto auto;
  background-color: black;
}

.slider {
  width: 92%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 4%;
}

.input-btn {
  display: none;
}

.img-wrapper {
  margin: 2rem 0 2rem 0;
}

.image {
  width: 100%;
  border-radius: 0.5rem;
  order: 1;
  animation-duration: 2s;
  animation-name: slide-animate;
  animation-timing-function: ease-out;
}

.label {
  order: 3;
  margin-right: auto;
  max-width: 70%;
  height: 3rem;
  color: var(--color-addition);
  animation-duration: 1.5s;
  animation-name: text-animate;
  animation-timing-function: ease-in-out;
}

.label-wrapper {
  order: 5;
  cursor: pointer;
}

.radio-wrapper {
  order: 5;
  cursor: pointer;
  padding-bottom: 0.5rem;
  margin: 0 1rem 1rem 0;
}

.radio {
  display: inline-flex;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-radio);
  font: inherit;
  width: 1.15rem;
  height: 1.15rem;
  border: 0.09em solid rgb(195, 193, 188);
  border-radius: 50%;
}

.radio-wrapper:first-of-type {
  margin-left: 0.5rem;
}

.radio-wrapper:last-of-type {
  margin: 0;
}

.radio-wrapper:hover .radio {
  cursor: pointer;
  border: 0.15rem solid ;
  background-color: var(--color-addition);
}

.radio-wrapper:active .radio {
  box-shadow:
    -0.05rem -0.05rem 0.05rem 0.05rem var(--color-addition),
    0.05rem 0.05rem 0.3rem 0.3rem #d1d9e6;
}

#selected-slide1:checked ~ #label1 > .radio {
  background: var(--color-radio);
  border: 0.2rem solid var(--color-addition);
  box-shadow: rgba(50, 50, 93, 0.25) 0 1.5rem 3rem -1.6rem inset, rgba(0, 0, 0, 0.3) 0 0.9rem 1.8rem -0.9rem inset;
}

#selected-slide2:checked ~ #label2 > .radio {
  background: var(--color-radio);
  border: 0.2rem solid var(--color-addition);
  box-shadow: rgba(50, 50, 93, 0.25) 0 1.5rem 3rem -1.6rem inset, rgba(0, 0, 0, 0.3) 0 0.9rem 1.8rem -0.9rem inset;
}

#selected-slide3:checked ~ #label3 > .radio {
  background: var(--color-radio);
  border: 0.2rem solid var(--color-addition);
  box-shadow: rgba(50, 50, 93, 0.25) 0 1.5rem 3rem -1.6rem inset, rgba(0, 0, 0, 0.3) 0 0.9rem 1.8rem -0.9rem inset;
}

#selected-slide4:checked ~ #label4 > .radio {
  background: var(--color-radio);
  border: 0.2rem solid var(--color-addition);
  box-shadow: rgba(50, 50, 93, 0.25) 0 1.5rem 3rem -1.6rem inset, rgba(0, 0, 0, 0.3) 0 0.9rem 1.8rem -0.9rem inset;
}

#selected-slide1:checked  ~ 
  .slide2, 
  .slide3, 
  .slide4 {
    display: none;
}

#selected-slide1:checked  ~ 
  .slide1 {
    display: block;
}

#selected-slide2:checked  ~ 
  .slide1, 
  .slide3, 
  .slide4 {
    display: none;
}

#selected-slide2:checked  ~ 
  .slide2 {
    display: block;
}

#selected-slide3:checked  ~ 
  .slide1, 
  .slide2, 
  .slide4 {
    display: none;
}

#selected-slide3:checked  ~ 
  .slide3 {
    display: block;
}

#selected-slide4:checked  ~ 
  .slide1, 
  .slide2, 
  .slide3 {
    display: none;
}

#selected-slide4:checked  ~ 
  .slide4 {
    display: block;
}

@keyframes slide-animate {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes text-animate {
  0% {
    opacity: 0%;
  }
  50% {
    color: var(--color-radio);
  }
  100% {
    opacity: 100%;
    color: var(--color-addition);
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 1rem;
  }

  .label {
    max-width: 65%;
    height: 4rem;
  }
}

@media screen and (max-width: 780px) {
  html {
    font-size: 0.9rem;
  }

  .wrapper {
    width: 80%;
  }

  .label {
    max-width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .label {
    max-width: 100%;
    width: 100%;
    order: 10;
  }

  .radio-wrapper:first-of-type {
    margin-left: 0;
  }

  .radio-wrapper:first-of-type {
    margin-left: auto;
  }

  .radio-wrapper:last-of-type {
    margin-right: auto;
  }
}